@import "../abstracts/mixins";

.background, .image, .overlay {
  z-index: 1;
  position: fixed;
  @include max-size;
}

.image {
  background-image: url("../../imgs/bg.jpg");
  transform: scale(1.15);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-out 1.2s linear;
}

@keyframes fade-out {
  0% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}



