@import "../abstracts/mixins";

.background, .image, .overlay {
  z-index: 1;
  position: fixed;
  @include max-size;
}

.image {
  background-image: url("../../imgs/bg.jpg");
  transform: scale(1.15);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); 
}