@import "../abstracts/mixins";
@import "../abstracts/variables";

.background, .image, .overlay {
  z-index: 1;
  position: fixed;
  @include max-size;
}

.image {
  background-image: url("https://nagievr.github.io/Portfolio/imgs/bg.jpg"); // ../../imgs/bg.jpg
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1.11);
  transition: $transition-switch-page;
}

.overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  animation: overlay-init $anim-duration-bg linear;
}
