@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.footer {
  margin-top: 2.5rem;
  transition: $transition-switch-section;
}

.rights {
  color: $color-light-gray;
  opacity: 0.8;
  font-size: 0.6rem;
  letter-spacing: 0.23rem;

  @include media('<=phone') {
    font-size: 0.5rem;
  }
}

.rights a {
  color: $color-light-gray;
}