@import "../abstracts/variables";

.footer {
  margin-top: 1rem;
  transition: $transition-switch-section;
}

.rights {
  color: $color-light-gray;
  opacity: 0.8;
  font-size: 0.6rem;
  letter-spacing: 0.23rem;
}

.rights a {
  color: $color-light-gray;
}