@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../vendors/breakpoints";

.header {
  transition: $transition-switch-section;
  max-height: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  border: $border-white;
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  user-select: none;
  @include media('<=phone') {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
  }
}

.inner {
  border-top: $border-white;
  border-bottom: $border-white;
  padding: $inner-padding-vertical $inner-padding-horizontal;
  margin-top: $vert-line-height;
  overflow: hidden;  
  max-height: 100%;
  @include media('<=phone') {
    margin-top: $vert-line-height-mobile;
  }

  h1 {
    margin-top: 0;
    @include media('<=phone') {
      margin-bottom: 0.8rem;
    }
  }

  p {
    margin: 0;
  }
}

.content {
  &::before {
    @include vertical-line($vert-line-height);
    @include media('<=phone') {
      @include vertical-line($vert-line-height-mobile);
    }
  }
}

.navigation {
  &::before {
    @include vertical-line($vert-line-height + $li-height);
    @include media('<=phone') {
      @include vertical-line($vert-line-height-mobile);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: $vert-line-height;
    display: flex;
    list-style: none;
    border: $border-white;
    border-radius: $border-radius;
    @include media('<=phone') {
      flex-direction: column;
      margin-top: $vert-line-height-mobile;
      min-width: 50vw;
    }

    li {
      cursor: pointer;
      min-width: 7rem;
      border-right: $border-white;
      transition: background-color 0.35s;
      line-height: $li-height;
      display: block;
      @include media('<=phone') {
        border-right: none;
        line-height: $li-height-mobile;
        border-bottom: $border-white;
      }

      &:focus,
      &:hover {
        outline: none;
        background-color: rgba(255, 255, 255, 0.15);   
      }

      &:nth-child(even) {
        border-right: none;
      }

      @include media('<=phone') {
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}