@import '../abstracts/variables';

.navigation {
  ul {
    margin: 0;
    padding: 0;
    margin-top: 3.5rem;
    display: flex;
    list-style: none;
    border: $border-white;
    border-radius: 4px;
    letter-spacing: 0.1rem;

    li {
      min-width: 7rem;
      border-right: $border-white;
      font-size: 0.75rem;
      line-height: 2.8rem;

      &:last-child {
        border-right: none;
      }

      a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}