@import '../abstracts/variables';

.navigation {
  &::before {
    @include vertical-line(6.3rem);
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 3.5rem;
    display: flex;
    list-style: none;
    border: $border-white;
    border-radius: 4px;
    letter-spacing: 0.1rem;

    li {
      min-width: 7rem;
      border-right: $border-white;
      font-size: 0.75rem;
      line-height: 2.8rem;
      transition: background-color 0.35s;
      
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);   
      }

      &:nth-child(even) {
        border-right: none;
      }

      a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}