@import "../abstracts/variables";
@import "../vendors/breakpoints";

.projects-wrap > p {
  margin-bottom: 5rem;
}

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 4.5rem;
  @include media('<=phone') {
    flex-direction: column;
    justify-content: center;
  }
  
  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0;
  }
}

.links {
  display: inline-block;
  margin: 1.1rem 0;
  word-spacing: 0.5rem;
}

.description-wrap {
  padding-right: 3%;
  max-width: 65%;
  @include media('<=phone') {
    max-width: 100%;
    padding: 0;
  }
}

.prj-photos {
  height: 200px;
  width: 200px;
  border: $color-white 2px solid;
  border-radius: 3px;
}

.photo-block {
  position: relative;
}

.what-used {
  position: absolute; 
  top: 9.7rem;
  left: 0.8rem;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 3px -2px 0.8rem 1.2rem rgba(0, 0, 0, 0.85);
}

.icn {
  width: 2.2rem;
  height: 2.2rem;
  transition: transform 0.25s;

  &:hover {
    transform: translateY(0.35rem);

  }
}

