.skills-wrap {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // .col-1,
  // .col-2 {
  //   display: flex;
  //   justify-content: space-around;
  //   flex-wrap: wrap;
  //   border: 1px dotted wheat;
  // }

  // ul {
  //   max-width: 8rem;
  //   border: 1px solid blue;
  //   padding-left: 1.5rem;
  // }

  
}