@import "../abstracts/mixins";

// ---------------------------------------------------------
// the initial animations that show only on page opening
// ---------------------------------------------------------

// background fade out from black to half opacity
@keyframes overlay-init {
  0%, 50% { background-color: rgb(0, 0, 0) }
  to { background-color: rgba(0, 0, 0, 0.5) }
}

// open header animation
@keyframes open-inner {
  0%, 25% {
    max-height: 0;
    padding: 0 $inner-padding-horizontal;
  }
  to {
    max-height: 30rem;
    padding: $inner-padding-vertical $inner-padding-horizontal;
  }
}