@import "../abstracts/mixins";

// -----------------------------------------------------
// an initial animation that shows only on page opening.
// -----------------------------------------------------

// background fade out from black to half opacity
@keyframes overlay-init {
  0%, 50% { background-color: rgb(0, 0, 0) }
  to { background-color: rgba(0, 0, 0, 0.5) }
}

// open header (its inner elem) animation
@keyframes open-inner {
  0% {
    height: auto;
    padding: 0 2rem;
  }
  100% {
    padding: 3.5rem 2rem;
    height: 100%;
  }
}

// header content fade in animation
@keyframes fade-in {
  0%, 25% { opacity: 0 }
  to { opacity: 1 }
}