@import "../abstracts/variables";

body {
  -webkit-tap-highlight-color: transparent;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-white;
  border-radius: 3px;
}