@import "../abstracts/variables";

body {
  font-family: 'Manrope', sans-serif; // just testing. remove it later
  font-family: 'Play', sans-serif;
  font-size: $default-font-size;
  color: $color-white;
  // -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 2.5rem;
}

p {
  line-height: 1.6rem;
}

a {
  color: $color-white;
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: underline solid;
}

h2,
.header, 
.rights {
  letter-spacing: $default-letter-spacing;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.25rem;
}