@import "./variables";

@mixin vertical-line($height: 3.5rem) {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 1px;
  height: $height;
  background: $color-white;
}

@mixin init-header-anim($name) {
  $name-set: true;

  @if $name == '' {
    @error 'you must set the name of an animation';
    $name-set: false;
  }

  @if $name-set {
    animation: $name ($anim-duration-bg / 2) ease;
  }
}

@mixin switch-section-anim($blur: 0, $scale: 1, $opacity: 1) {
  filter: blur($blur) !important;
  transform: scale($scale) !important;
  opacity: $opacity !important;
}