$color-white: #ffffff;
$color-light-gray: #cccccc;

$border-white: $color-white 1px solid;

$default-font-size: 0.8rem;
$default-letter-spacing: 0.15rem;

$anim-duration-bg: 1.4s;
$dur: 0.4s;
$transition-switch-page: transform $dur, filter $dur, opacity $dur ease;