$color-white: #ffffff;
$color-light-gray: #cccccc;
$color-dark: #2c2c2c;

$border-white: ($color-white 1px solid);
$border-radius: 4px;

$default-font-size: 0.8rem;
$default-letter-spacing: 0.15rem;

$inner-padding-vertical: 5vh;
$inner-padding-horizontal: 1rem;

$vert-line-height: 3.5rem;
$li-height: 2.8rem;
$vert-line-height-mobile: 5vh;
$li-height-mobile: 6vh;

$dur: 0.4s;
$transition-switch-section: (transform $dur ease, filter $dur ease, opacity $dur ease);

// changing of background animation duration 
// also changes the duration of other initial animations
$anim-duration-bg: 1.8s;